# Ignore Visual Studio config files
.vs/
.vscode/
.idea/


# Ignore Node.js package directories if using npm
node_modules/


# Ignore environment-specific files
appsettings*.json

# Ignore specific Pokémon API files
PokemonAPI/bin/
PokemonAPI/obj/
PokemonAPI/appsettings.json/
PokemonAPI/obj/appsettings.Development.json/

